  {% extends 'WebronUserBundle:User:layout.html.twig' %}
  {% block content %}
<h2 style="text-align:center">Change password of user</h2>
<form action="{{ path('user_change_password') }}" method="post" {{ form_enctype(form) }} class="login-form">
<div class="r-group">
	<div>
        {{ form_errors(form.id) }}
        {{ form_widget(form.id, {'attr': {'placeholder': 'ID'} }) }}
    </div>
    <div>
        {{ form_errors(form.password) }}
        {{ form_widget(form.password, {'attr': {'placeholder': 'Password'} }) }}
    </div>
    {{ form_rest(form) }}
</div>
    <input type="submit" value="Change password"/>
</form>
  {% endblock %}
